*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


html, body{
    height: 100vh;
}




header h1{
    text-align: center;
    color: rgb(240, 240, 240);
}

header{
    padding: 27px 0;
    font-size: 16px;
    margin-bottom: 30px;
    background-color: rgb(19, 19, 19);
}


main{
    width: 95vw;
    margin: auto;
}



input[type=search]{
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
}


table{    
    width: 100%;
    border-spacing: 0;
}


thead tr th{
    background-color: rgb(22, 22, 22);
    color: whitesmoke;
    padding: 20px;
}

tbody tr th{
    border: 1px solid rgba(0, 0, 0, 0.603);
    background-color: blanchedalmond;
    padding: 20px;
}

td{
    padding:15px 5px;
    border: 1px solid rgba(0, 0, 0, 0.267);
}



td.table__action-buttons{
  text-align: center;
  
}

td.table__action-buttons i{
    padding: 6px;
}



.btn-add-user{
    
    display: block;
    text-decoration: none;

    
    width: fit-content;
    margin-inline-start: auto;
    margin-block-start: 20px;
    
    

    background-color: rgb(44, 62, 228);
    color: white;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;

}



.btn-add-user:hover{
    background-color: rgb(22, 40, 228);
}


div.adicionar-usuario_wrapper{
    background-color: rgba(0, 0, 0, 0.301);
    
    position: fixed;
    
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    
    height: 100%;
    width: 100%;


}


form.adicionar-usuario{
   
    
    height: 90%; width: 80vw;
    

    display: flex;
    flex-direction: column;
    row-gap: 24px;
    

    background-color: rgb(238, 238, 238);
    padding: 30px;

    position: absolute;
    
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    

    
}



form.adicionar-usuario>div{
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

form.adicionar-usuario label{
    font-weight: bold;
}



.no-visibility{
    display: none;
}



.confirm-user-action{
    background-color: rgb(0, 81, 255);
    border: none;
    font-weight: bolder;
    padding: 20px;
    border-radius: 10px;
    color: white;
    justify-self: end;
}

.confirm-user-action:hover{
    background-color: rgb(0, 60, 190);
    cursor:pointer;
}

