html, body{
    height: 100vh;
}


header h1{
    text-align: center;
    color: rgb(240, 240, 240);
}

header{
    padding: 27px 0;
    font-size: 16px;
    background-color: rgb(19, 19, 19);
}


main{
    width: 95vw;
    margin: auto;
}

ol{
    list-style: none;
    padding: 10px;
}

input[type=search]{
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
}


table{    
    width: 100%;
    border-spacing: 0;
}


thead tr th{
    background-color: rgb(22, 22, 22);
    color: whitesmoke;
    padding: 20px;
}

tbody tr th{
    border: 1px solid rgba(0, 0, 0, 0.603);
    background-color: blanchedalmond;
    padding: 20px;
}

td{
    padding:15px 5px;
    border: 1px solid rgba(0, 0, 0, 0.267);
}



.table__action-buttons{
    text-align: center;
}

.table__action-buttons i{
    padding: 6px;
    cursor: pointer;
}

.btn-add-user{
    
    display: block;
    text-decoration: none;

    width: fit-content;
    margin-inline-start: auto;
    margin-block-start: 20px;
    
    background-color: rgb(44, 62, 228);
    color: white;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;

}



.btn-add-user:hover{
    background-color: rgb(22, 40, 228);
}


.adicionar-usuario_wrapper, .editar-usuario_wrapper, .excluir-usuario_wrapper{
    background-color: rgba(0, 0, 0, 0.301);
    overflow-y: auto;
    
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100%;
    width: 100%;


}


form.adicionar-usuario, form.editar-usuario, form.excluir-usuario{
   
    
    height: fit-content; width: 80vw;
    

    display: flex;
    flex-direction: column;
    row-gap: 24px;
    

    background-color: rgb(238, 238, 238);
    padding: 30px;

    position: absolute;
    
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    

    
}

.editar-usuario__input-container>label+input{
    display: block;
    min-width: 0;
    width: 100%;
}

.editar-usuario__input-container{
    display: flex;
    flex-direction: column;
}



.editar-usuario__btn-container{
    column-gap: 10px;
}


form.adicionar-usuario>div{
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

form.adicionar-usuario label{
    font-weight: bold;
}

form.excluir-usuario .popupMessage_delete-user{
    text-align: center;
    font-weight: bolder;
}

form.excluir-usuario .btn-container{
    column-gap: 10px;
    justify-content: center;
}


.btn-container{
    display: flex;
}


.btn-user-action{
    display: block;
    border: none;
    font-weight: bolder;
    padding: 20px;
    border-radius: 10px;
}


.btn-confirm-user-action{
    background-color: rgb(0, 81, 255);
    color: white;
    
}


.btn-confirm-user-action:hover{
    background-color: rgb(0, 60, 190);
    cursor:pointer;
}

.btn-cancel-user-action{
    background-color: rgb(255, 30, 0);
    color: white;

}

.btn-cancel-user-action:hover{
    background-color: rgb(185, 15, 3);
    cursor:pointer;
}

.no-visibility{
    display: none;
}